# AWS SDK endpoint configuration:
# https://docs.aws.amazon.com/sdkref/latest/guide/feature-ss-endpoints.html
MYSTACK_CONFIG_FILE=config/mystack.yaml
AWS_ENDPOINT_URL=http://localhost:4566
AWS_DEFAULT_REGION=us-east-1
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
AWS_EC2_METADATA_DISABLED=true

# Generic nested overrides use YAML parsing. Examples:
# MYSTACK__LOGGING__LEVEL=DEBUG
# MYSTACK__PROXY__REQUEST_TIMEOUT_SECONDS=600
# MYSTACK__MANAGEMENT__DIAGNOSTICS__TOKEN=replace-me

